body {
font-family: Raleway;
margin: 0;
}

img{
    width: 100%;
max-width: 100%;
}
.hebergementArticle:hover {
    -webkit-box-shadow: 0px 2px 14px -1px #000000; 
    box-shadow: 0px 2px 14px -1px #000000;
}
.hebergementArticle {
    -webkit-box-shadow: 0px 2px 8px -1px #000000; 
    box-shadow: 0px 2px 8px -1px #000000;
}
#logo {
    max-width: 120px;
    margin-top: 2rem;
}
header, main {
width: 90%;
margin: 0 auto;
}
.nav-link:hover{
border-top: 2px solid blue;
color: blue;
}
.nav-link:hover a{
    color: blue;
    }

header {
display: flex;
justify-content: space-between;
}
nav ul {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
list-style: none;
}
nav ul li  {
padding: 2rem;
}

section {
margin: 4rem 0;
}
.navInscrire{
color: #0065FC;
font-size: large;
font-weight: bolder;
}

/*.recherche {
    width: 90%;
    margin: 0 auto;
}*/
.recherche1{
font-size: 1.4em;
font-weight: 700;
letter-spacing:normal
margin: 30px 0 0 0;
}
.recherche2{
font-weight: normal;
letter-spacing: normal;
margin-bottom: 20px;
}
/*form*/
.formIcon {
background-color: #F2F2F2;
padding: 1rem 1.25rem;
border-radius: 1rem 0 0 1rem;
text-align: center;
}
	
.submitButton {
background-color: #0065FC;
color: white;
font-weight: bold;
border: none;
border-radius: 0 1rem 1rem 0;
padding: 0 1.5rem;
font-family: "Raleway", "Sans serif";
font-size: 1rem;
cursor: pointer;
padding: 1rem 1.25rem;
}	
.submitButton i{
    display: none;
}
input {
border-right: none;
border-left: none;
border-top: #F2F2F2 1px solid;
border-bottom: #F2F2F2 1px solid;
padding: 0 1.5rem;
box-sizing: border-box;
width: 14rem;
font-size: 1rem;
font-weight: bold;
font-family: "Raleway", "Sans serif";
line-height: 1.15;
padding: 1rem 1.25rem;
}
	
#filters{
display: flex;
flex-wrap: wrap;
margin-top: 2rem;
align-items: center;
}
	
#filters h2 {
margin-right: 30px;
font-size: 1.1em;	
}
.filter{
margin-right: 1.7rem;
font-weight: bold;
display: flex;
flex-wrap: wrap;
}
.single-filter{
border: 1px solid #ddd;
border-radius: 2rem;
padding: 0 10px 0 0;
align-items: center;
height: 50px;
display: flex;
   
}
.single-filter span{
margin-left: 10px;
margin-right: 10px;

}
.filter-tranformation{
margin: 7px 20px 7px 0;
cursor: pointer;


}
.filter i {
background-color: #E0E8F4;
border-radius: 100%;
padding: 1rem 1rem;
margin: -1px 0px -1px -5px;
color: #0051CB;
}
.titre{
position: relative;
font-weight: bold;
letter-spacing: normal;
margin-bottom: 10px;
margin-top: 0;
}
.titreA{
padding-right: 30px;
font-size: 1.1em;
text-align: left;
}

.titre i{
position: absolute;
right: 5px;
}
.texteP{
margin-top: 0px;
margin-bottom: 5px;
}
.resultat i{
padding: 5px  9px;
border: 1px solid #ddd;
border-radius: 50%;
color: #0065FC;
margin-right: 15px;
}

.hebergement {
    /*width: 90%;
    margin: 0 auto;*/
display: flex; 
justify-content:row; 
grid-template-columns: 1fr 1fr 1fr; 
gap: 30px; 
}

.afficherlus{
font-weight: bold;
text-decoration: none;
color: black;
margin-top: 50px;
}
a {
margin-bottom: auto;
text-decoration: none;
color: black
}
.hebergement div.mainhebergement{
background-color: #ededed;
display: grid; 
grid-auto-columns: 1fr; 
grid-template-columns: 1fr 1fr 1fr; 
grid-template-rows: 1fr; 
gap:  20px 20px; 
grid-template-areas: 	". . ."; 
border-radius: 10px;
padding: 10px;
}
.hebergement div.mainhebergement .titre{
background-color: #f2f2f2;
border-radius: 15px;
padding: 30px;
display: grid;
}
.hebergement div.mainhebergement article {
background-color: #fff;
border-radius: 10px;
cursor: pointer;
box-shadow:  10px 5px 5px;
overflow: hidden;

}
.hebergement div.mainhebergement article figure{	
margin: 5px;
}
.hebergement div.mainhebergement article figure a img{
justify-content: center;
border-radius: 15px 15px 0px 0px;
width: 100%;
height: 110px;
object-fit: cover;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
overflow: hidden;
}	
.hebegement-marseille{
background-color: #ededed;
border-radius: 15px;
padding-left: 15px;
padding-right: 15px;
}
.hebergement2{
background-color: #F2F2F2;
border-radius: 10px;
padding: 20px;
}
.hebergement2 .hebergementArticle{
display: flex;
flex: 1;
background-color: #fff;
padding-right: 5px;
border-radius: 25px;
margin-bottom: 20px;
margin-top: 20px;
overflow: hidden;
border: 4px solid white;

}
.hebergementArticle div.illustration img{
width: 150px;
height: 140px;
max-width: 150px;
}
.hebergementArticle div.caption{
align-items: center;
margin: 10px;
padding-left: 15px;
padding-right: 0px;
cursor: pointer;
position: relative;
}
.hebergement2 .star{
color: #0065fc;
font-size: small;
padding-bottom: 5px;
align-self: flex-end;
position: absolute;
bottom: 3px;
}
.mainhebergement .star{
color: #0065fc;
font-size: small;
padding-bottom: 5px;
align-self: flex-end;
}
.starGris{
 color: #F2F2F2;
}
.texteH{
font-size: x-large;
margin-top: 50px;
font-weight: bo;
}
.texteP{
margin-top: 0px;
margin-bottom: 5px;   
}

/* Activités
.activite {
    width: 90%;
    margin: 0 auto;
}*/
.activite h2.title {
 grid-column: 1/-1;
}
.wrap {
display: grid;  
grid-template-areas: 
    "h a c d"
    "h b c e" ;
column-gap: 1rem;
grid-row-gap: 1rem; 
margin: 0 0 4rem;
}
@media (min-width: 1024px) {
.item:nth-child(1) {
grid-area: h;
 }  
.item:nth-child(2) {
grid-area: a;   
}  
.item:nth-child(3) {
grid-area: b;
}  
.item:nth-child(4) {
grid-area: c;
}
.item:nth-child(5) {
grid-area: d;
}
.item:nth-child(6) {
grid-area: e;
}

.item:nth-child(1) img{
max-height: 480px;
}  
.item:nth-child(2) img{
max-height: 190px;
}  
.item:nth-child(3) img{
max-height: 190px;
}  
.item:nth-child(4) img{
max-height: 480px;
}
.item:nth-child(5) img{
max-height: 190px;
}
.item:nth-child(6) img{
max-height: 190px;
}
.item {
box-shadow: 0 0 20px #0000002e;
border-radius: 1rem;
overflow: hidden;
display: flex;
flex-direction: column;
text-align: center;
}

.item a {
    flex: 1;
}
        
.item a img{
height: 100%;
object-fit: cover;
}

footer {
 background-color: #ededed;
}
footer .footerContainer{
display: flex;
width: 90%;
margin: 0 auto;
}
footer .footerBlock {
flex: 1;
}
footer .footerBlock ul{
list-style: none;
padding-left: 0;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 300px) and (max-width: 1024px) {
    header{
        display: grid;
        grid-template-columns: 1fr;
    }
    .hebergement{
        flex-direction: column-reverse;
    
    }
    .hebergement2 img{
        width: 260px;
}
    #logo{
        position: absolute;
        margin: 15px;
}
.submitButton i{
    display: block;
}
.submitButton b{
    display: none;
}
.section.recherche{
    margin-top: 0px;
}
.fomDeRecherche{
    display: flex;
}
    nav{
        display: flex;
        align-items: baseline;
        flex-direction: column-reverse;
        flex-wrap: wrap-reverse;
        width:100%; 
    }
    nav ul{
        text-align: center;
        padding: 10px;
        margin-top: 30px;
        border-bottom: 3px solid #f2f2f2;
        position: relative;
        width: 100%;
    }
    nav ul .nav-link{
        width: 50%;
        margin-top: 15px;
    }
    nav ul .nav-link:hover{
        border-top: none;
        border-bottom: 2px solid blue
        
    }
    .sub{
        position: absolute;
        right: 0;
        top: 0px;
        padding: 0px;
        }
        .hebergement div.mainhebergement{
            grid-auto-columns: 1fr; 
            grid-template-columns: 1fr; 
            grid-template-rows: 1fr; 
            grid-template-areas: 	". "; 

            }
        .wrap{
            display: flex;
            flex-direction: column;
        }
        .item a img{
            height: 380px;
            max-height: 420px;
        }
        footer .footerContainer{
            flex-direction: column;
        }
 }
    